
body{
	background:#ecf0f1;
	padding-bottom:70px; 
	}
.ad{
/*    position:fixed;
	top:61px;*/
	background:#ecf0f1;
	height:156px;
	padding-bottom:2px;}
.stick{
		margin-top: 0;
	    position: fixed;
        top: 61px;}
#footer{
	height:60px;
	background:#FFFFFF;}	
.active1{
	background:#2980b9;
	height:200px;}
.product_first{
	margin-top: 10px;
	background:#FFFFFF;
	border-bottom:0.1px solid #CCC;
	}
.product{
	margin-top: 10px;
	background:#FFFFFF;
	border-bottom:0.1px solid #CCC;
	}
.product_1{
	padding:10px;
}
.top_menu
{
	padding:0px 10px;
}
.main{
	background:#FFF;
	width:100%;
	height:110px;
	}
.mybuy{
	height:50px;
	border-bottom:0.1px solid #CCC;}
.left1{
	width:40%;
	height:50px;
	float:left;
	}
.rigth1{
	width:60%;
	height:50px;
	float:left;}
.p-01{
	line-height:3em;
	font-weight:bold;
	text-indent:1em;
	letter-spacing:2px;
	font-size:16px;}
.p-02{
	line-height:3em;
	text-indent:5em;
	color:#848689;
	letter-spacing:2px;}
#buy1{
	width:25%;
	height:60px;
	float:left;
	text-align:center;
	}
#buy2{
	width:25%;
	height:60px;
	float:left;
	text-align:center;
	}
#buy3{
	width:25%;
	height:60px;
	float:left;
	text-align:center;
	}
#buy4{
	width:25%;
	height:60px;
	float:left;
	text-align:center;
	}
.head-img{
	height:60%;
	text-align:center;
	padding-top:30px;
}
.head-texte{
	color:#FFF}
.mycard{
	margin-top:10px;
	height:50px;
	background:#FFFFFF;
	border-bottom:0.1px solid #CCC;
	}
.imgcenter{   
    width: 21px;
    height: 18px;
    margin: 7px auto;
    margin-bottom: 4px;
    position: relative;
    display: block;
}
.textcenter{
	font-size: 11px;
    color: #232326;
    text-align: center;
}
.imgh{
	height:100%!important;
}
.slide-link {
    position: relative;
    display: block;
    padding: 15px 25px 15px 10px;
    background: url(../img/arr-right.png) no-repeat 96% center;
    background-size: .525rem;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.1rem;
    color: #4d525d !important;
}
.slide-link em {
    float: right;
    margin-top: 4px;
    display: inline-block;
    font-style: normal;
    color: #999;
}
.btn1 {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 40%;
  height: 30px;
  padding:auto;
}
.btn1 .color-2 {
  background-color: #00897b;
}
.btn-border.color-2 {
  background-color: transparent;
  border: 2px solid #2980b9;
  color: #2980b9;
}
.btn-round {
  border-radius: 10em;
}

.material-design {
  position: relative;
}
.material-design canvas {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}
.orders{
	width:100%;
	margin-top:10px;
	background:#FFFFFF;
}
.orders1{
	height:50px;
	background:#FFFFFF;
	border-bottom:0.1px solid #CCC;
	}
.orders2{
	background:#FFFFFF;
	width:100%;
	padding:10px 5px;
	border-bottom:0.1px solid #CCC;
	}
.orders_box{
	height:50px;
	background:#FFFFFF;
	border-bottom:0.1px solid #CCC;
}
.bstyle{
	float:right;
	padding:10px;}
.orders .mycard{
	margin-top:0px;}

a{ color:#555; text-decoration:none;}
a:hover{ color:#c00; text-decoration:underline;}
li{list-style-type:none}
.iteminfo_price{ color:#c00; font-size:14px; font-family:Arial, Helvetica, sans-serif;margin-right:20px;}
.sys_item_price{ color:#c00; font-size:22px; vertical-align:right;;}.sys_spec_text{}
#tishi{float:left;margin-top:2px}
#target_list {float:left;margin:0}
#target_list li{ float:left; height:28px; position:relative; margin:2px 6px 2px 0; outline:none;}
#target_list li a{  padding:1px 6px; border:1px solid #ccc; background:#fff; display:inline-block;}
#target_list li a:hover{ border:2px solid #e4393c; padding:0 5px; text-decoration:none;}
#target_list li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(../img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
#target_list li.selected a { border:2px solid #e4393c; padding:1px 6px;text-decoration:none;}
#target_list li.selected i { display:block;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.iteminfo_parameter{ padding:8px 0; padding-left:20px;}
.sys_item_spec .iteminfo_parameter{ padding-top:5px; padding-bottom:5px;border-bottom:0.11px solid  #CCC}
.sys_item_spec .iteminfo_parameter dt{ line-height:32px;}